<!doctype html>
<html lang="pt-br">
<head>
    <title>Patrícia Araujo Faria</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../style/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container text-center">
                <!-- Nome Centralizado -->
                <a class="navbar-brand w-100 navbartitulo" href="https://github.com/PatrciaAraujoF">Patricia Araujo Faria</a>
            </div>
        </nav>
    </header>
    <main>
<section>
    <br><br>
    <div class="container">
        <h1 class="fw-bold text-center">Certificados</h1>
        <br><br>
        <div id="certificadosCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"> <!-- Classe 'active' adicionada aqui -->
                    <img src="../imagens/certificado2.svg" class="d-block w-100" alt="Certificado 2">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado3.svg" class="d-block w-100" alt="Certificado 3">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado4.svg" class="d-block w-100" alt="Certificado 4">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado5.svg" class="d-block w-100" alt="Certificado 5">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado6.svg" class="d-block w-100" alt="Certificado 6">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado7.svg" class="d-block w-100" alt="Certificado 7">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado8.svg" class="d-block w-100" alt="Certificado 8">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado9.svg" class="d-block w-100" alt="Certificado 9">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado10.svg" class="d-block w-100" alt="Certificado 10">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado11.svg" class="d-block w-100" alt="Certificado 11">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado12.svg" class="d-block w-100" alt="Certificado 12">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado13.svg" class="d-block w-100" alt="Certificado 13">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado14.svg" class="d-block w-100" alt="Certificado 14">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado15.svg" class="d-block w-100" alt="Certificado 15">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado16.svg" class="d-block w-100" alt="Certificado 16">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado17.svg" class="d-block w-100" alt="Certificado 17">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado18.svg" class="d-block w-100" alt="Certificado 18">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado19.svg" class="d-block w-100" alt="Certificado 19">
                </div>
                <div class="carousel-item">
                    <img src="../imagens/certificado20.svg" class="d-block w-100" alt="Certificado 20">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#certificadosCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#certificadosCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br>
         <div class="text-center">
            <a href="../index.html" class="btn btn-custom">Voltar ao Início</a>
        </div>
        <br><br><br>
    </div>
</section>
<section class="estilizacaofooter">
    <br>
</section>
<footer class="custom-footer py-4">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Div Pai -->
            <div class="col-md-6 text-center">
                <!-- Primeira Div Filha -->
                <div class="mb-3">
                    <h1 class="fw-bold footerpatricia">Patricia Araujo Faria</h1>
                </div>
                <!-- Segunda Div Filha -->
                <div>
                    <p class="mb-1">
                        <a class=" me-2 iconetamanho" href="https://wa.me/5534998138758" target="_blank">
                            <i class="bi bi-whatsapp "></i>
                        </a> 
                        Telefone: (34) 9 9813-8758
                    </p> 
                    <p class="mb-1 ">
                        <i class="bi bi-envelope iconetamanho"></i> Email: techpatos.site@gmail.com
                    </p>
                      <p class="mb-1">
                        <a class=" me-2 iconetamanho" href="https://github.com/PatrciaAraujoF" target="_blank">
                            <i class="bi bi-github"></i>
                        </a> 
                        Meu GitHub
                    </p>
                </div>
            </div>
        </div>
    </div>
      
    </body>
</footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>


<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script>
    // Inicia o carrossel automaticamente
    var myCarousel = document.querySelector('#certificadosCarousel');
    var carousel = new bootstrap.Carousel(myCarousel, {
        interval: 3000,
        ride: 'carousel'
    });
</script>

</html>