<!doctype html>
<html lang="pt-br">
    <head>
        <title>Patrícia Araujo Faria</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    </head>

    <body>
        <header>
        <nav class="navbar">
            <div class="container text-center">
                <!-- Nome Centralizado -->
                <a class="navbar-brand w-100 navbartitulo" href="https://github.com/PatrciaAraujoF">Patricia Araujo Faria</a>
            </div>
        </nav>
        </header>

        <main>
        <section class="container projeto">
                <div >
                    <div class="container">
                        <br><br>
                        <h1 class="fw-bold projeto text-center">Projeto Django para Controle de Estoque de Peças para Mecânicos</h1>

                        <br><br>
                        <div>
                            <p>
                                Desenvolvi um sistema para gestão de peças destinado a mecânicos, utilizando a poderosa estrutura do Django. Este sistema foi cuidadosamente projetado para um ambiente familiar e acolhedor, onde a simplicidade é primordial, atendendo de maneira eficaz às demandas de um pequeno negócio. Em um contexto de acesso restrito, eliminamos a necessidade de um sistema de login. A implantação foi realizada com Nginx e Gunicorn, assegurando rapidez e eficiência no desempenho.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="container my-5  text-center">
                <div class="row">
                    <!-- Div Pai -->
                    <div class="col-md-6">
                        <!-- Div Filha para a Imagem -->
                        <div class="p-3">
                            <img src="../imagens/automotores.png" alt="Imagem do Projeto" class="img-fluid" />
                        </div>
                    </div>
                    <!-- Div Filha para a Descrição -->
                    <div class="col-md-6">
                        <div class="p-3">
                             <br><br><br>
                            <h4 class="fw-bold">Exibição e consulta dos banco de dados</h4>
                            <p class="text-justify">
                               Esta página é dedicada à visualização dos itens no banco de dados. Aqui, você também pode registrar a saída de peças quando são vendidas, permitindo um controle preciso das quantidades em estoque.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
           
            <section class="container my-2  text-center">
            <div class="row">
                <!-- Div Filha para a Descrição -->
                <div class="col-md-6">
                    <div class="p-3">
                         <br><br><br> 
                        <h4 class="fw-bold">Cadastro de itens</h4>
                        <p class="text-justify">
                            Nesta página, é possível realizar dois tipos distintos de cadastro: o de peças e o de modelos das peças.
                        </p>
                    </div>
                </div>
                <!-- Div Filha para a Imagem -->
                <div class="col-md-6">
                    <div class="p-3">
                        <img src="../imagens/cadastromotores.png" alt="Imagem do Processo Produtivo" class="img-fluid" />
                    </div>
                </div>
            </div>
        </section>
        <section class="container my-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h4 class="fw-bold">Acesso ao Sistema</h4>
                        <a href="https://automotoreskm.site/" class="btn btn-custom">Entrar no Sistema</a>
                    </div>
                </div>
        </section>
                     
<br>
    <div class="text-center">
        <a href="../index.html" class="btn btn-custom">Voltar ao Início</a>
    </div>
    <br><br><br>
</main>
<section class="estilizacaofooter">
    <br>
</section>
<footer class="custom-footer py-4">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Div Pai -->
            <div class="col-md-6 text-center">
                <!-- Primeira Div Filha -->
                <div class="mb-3">
                    <h1 class="fw-bold footerpatricia">Patricia Araujo Faria</h1>
                </div>
                <!-- Segunda Div Filha -->
                <div>
                    <p class="mb-1">
                        <a class=" me-2 iconetamanho" href="https://wa.me/5534998138758" target="_blank">
                            <i class="bi bi-whatsapp "></i>
                        </a> 
                        Telefone: (34) 9 9813-8758
                    </p> 
                    <p class="mb-1 ">
                        <i class="bi bi-envelope iconetamanho"></i> Email: techpatos.site@gmail.com
                    </p>
                      <p class="mb-1">
                        <a class=" me-2 iconetamanho" href="https://github.com/PatrciaAraujoF" target="_blank">
                            <i class="bi bi-github"></i>
                        </a> 
                        Meu GitHub
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
