<!doctype html>
<html lang="pt-br">
    <head>
        <title>Patrícia Araujo Faria</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../style/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    </head>

    <body>
        <header>
        <nav class="navbar">
            <div class="container text-center">
                <!-- Nome Centralizado -->
                <a class="navbar-brand w-100 navbartitulo" href="https://github.com/PatrciaAraujoF">Patricia Araujo Faria</a>
            </div>
        </nav>
        </header>

        <main>
        <section class="container projeto">
                <div >
                    <div class="container">
                        <br><br>
                        <h1 class="fw-bold projeto text-center">Projeto Django para Gestão de Fábrica de Rações</h1>

                        <br><br>
                        <div>
                            <p>
                                Desenvolvi um sistema integrado para a gestão de fábricas de rações, utilizando o framework Django. Este sistema abrange desde o cadastro e recebimento de matérias-primas, o controle detalhado da produção de rações e expedição. Uma característica marcante é o sistema de rastreabilidade robusto, que permite rastrear cada lote de ração, documentando os lotes individuais de cada ingrediente utilizado, garantindo segurança e qualidade na produção.
                            </p>
                            <p>
                                O sistema também incorpora um mecanismo de limpeza via arraste que é ativado durante a troca de espécies, assegurando a eliminação de resíduos e minimizando riscos de contaminação cruzada. Além disso, inclui formulários específicos para registros dos processos de qualidade, como manutenção e limpeza de equipamentos, bem como monitoramento da qualidade em toda a planta fabril.
                            </p>
                            <p>
                               O sistema incorpora um robusto mecanismo de auditoria, que monitoriza e registra as ações de todos os usuários cadastrados, identificando quem criou, editou ou excluiu itens em qualquer um dos 30 bancos de dados disponíveis.
                            </p>
                            <p>
                                Este conjunto de ferramentas foi projetado para garantir eficiência operacional, segurança e conformidade com as normas de qualidade, proporcionando uma gestão eficaz e integrada de todas as etapas do processo produtivo.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="container my-5">
                <div class="row">
                    <!-- Div Pai -->
                    <div class="col-md-6">
                        <!-- Div Filha para a Imagem -->
                        <div class="p-3">
                            <img src="../imagens/entrada.svg" alt="Imagem do Projeto" class="img-fluid" />
                        </div>
                    </div>
                    <!-- Div Filha para a Descrição -->
                    <div class="col-md-6 ">
                        <br>
                        <div class="p-3">
                            <h4 class="fw-bold  text-center">Cadastro e entradas</h4>
                            
                                <p class=" text-center">
                                Esta imagem exibe o painel de entrada de matérias-primas do sistema. Nele, os operadores podem registrar o recebimento de cada lote de matéria-prima, garantindo que todos os dados sejam capturados em tempo real. O painel também fornece uma contagem total das matérias-primas disponíveis no sistema, permitindo uma visão geral instantânea dos estoques. Além disso, existem botões dedicados que facilitam o acesso à visualização detalhada do banco de dados, onde cada recebimento  de matéria-prima é registrado e pode ser auditado. 
                            </p>
                        </div>
                    </div>
                </div>
            </section>
           
            <section class="container my-5">
            <div class="row">
                <!-- Div Filha para a Descrição -->
                <div class="col-md-6">
                    <div class="p-3">
                        <h4 class="fw-bold  text-center">Processo Produtivo</h4>
                        <p class=" text-center">
                            O processo produtivo deste sistema é projetado para otimizar tanto a eficiência quanto a qualidade na fabricação de rações. Cada etapa da produção é monitorada em tempo real, assegurando que todos os ingredientes sejam combinados com a máxima precisão. O sistema oferece rastreabilidade abrangente, registrando detalhadamente cada lote de produção e os lotes de ingredientes utilizados. Além disso, inclui o cadastro de grupos de contaminantes e um sistema especializado de limpeza de linha para diferentes espécies, eliminando o risco de contaminação cruzada entre elas. Essa abordagem garante a integridade do produto final e a conformidade com os mais rigorosos padrões de qualidade.
                        </p>
                    </div>
                </div>
                <!-- Div Filha para a Imagem -->
                <div class="col-md-6">
                    <div class="p-3">
                        <img src="../imagens/produtivo.svg" alt="Imagem do Processo Produtivo" class="img-fluid" />
                    </div>
                </div>
            </div>
        </section>
   
         <section class="container my-5">
                <div class="row">
                    <!-- Div Pai -->
                    <div class="col-md-6">
                        <!-- Div Filha para a Imagem -->
                        <div class="p-3">
                            <img src="../imagens/pop2..svg" alt="Imagem do Projeto" class="img-fluid" />
                        </div>
                    </div>
                    <!-- Div Filha para a Descrição -->
                    <div class="col-md-6">
                        <div class="p-3">
                            <h4 class="fw-bold  text-center">Processos de qualidade</h4>
                            <p class=" text-center">
                               
                                O sistema integra um conjunto abrangente de processos de qualidade, fundamentais para a operação segura e eficiente da fábrica. Nele, são registrados detalhes precisos das unidades e áreas da fábrica, além de um cadastro minucioso de equipamentos. O sistema permite o registro sistemático de atividades de limpeza e manutenção em todas as áreas da fábrica, assegurando que cada espaço atenda aos mais altos padrões de higiene e funcionamento. Adicionalmente, inclui registros detalhados de combate a pragas e limpeza de caixas d'água, essenciais para a preservação da segurança e integridade do produto final. Todos os processos de qualidade e segurança são monitorados e documentados, acompanhados por um sistema de cadastro de lembretes, garantindo que nenhuma atividade crucial seja negligenciada.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container my-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <h4 class="fw-bold">Acesso ao Sistema</h4>
                        <p>Para acessar o sistema, utilize o username <strong>teste</strong> e a senha <strong>teste</strong>.</p>
                        <a href="https://controledeestoqueeproducao.online/" class="btn btn-custom">Entrar no Sistema</a>
                    </div>
                </div>
            </section>
    <br>
    <div class="text-center">
        <a href="../index.html" class="btn btn-custom">Voltar ao Início</a>
    </div>
    <br><br><br>

</main>
<section class="estilizacaofooter">
    <br>
</section>
<footer class="custom-footer py-4">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Div Pai -->
            <div class="col-md-6 text-center">
                <!-- Primeira Div Filha -->
                <div class="mb-3">
                    <h1 class="fw-bold footerpatricia">Patricia Araujo Faria</h1>
                </div>
                <!-- Segunda Div Filha -->
                <div>
                    <p class="mb-1">
                        <a class=" me-2 iconetamanho" href="https://wa.me/5534998138758" target="_blank">
                            <i class="bi bi-whatsapp "></i>
                        </a> 
                        Telefone: (34) 9 9813-8758
                    </p> 
                    <p class="mb-1 ">
                        <i class="bi bi-envelope iconetamanho"></i> Email: techpatos.site@gmail.com
                    </p>
                      <p class="mb-1">
                        <a class=" me-2 iconetamanho" href="https://github.com/PatrciaAraujoF" target="_blank">
                            <i class="bi bi-github"></i>
                        </a> 
                        Meu GitHub
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
